.git
.github

*.pyc
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
coverage.xml
htmlcov
*.egg-info
dist
build
.venv

node_modules
web/node_modules
web/dist

tests
docs
bench
examples

openfusion.yaml
*.env
.env

.DS_Store
